.address {
  width: 50%; }
  .address .street {
    width: 100%;
    height: 35px; }
    .address .street input {
      height: 100%;
      width: 100%;
      font-size: 15px;
      padding-left: 10px;
      color: #333; }
  .address span {
    margin-bottom: 10px; }

.building {
  width: 40%; }
  .building .label_building {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .building .label_building .type {
      width: 70%; }
    .building .label_building .number {
      width: 15%; }
  .building .Select {
    width: 100%; }
  .building input {
    width: 100%;
    height: 65%; }
