.showHead{
	text-align: center;
	margin-top: 100px;
}
.showHead p {
  margin: 0px;
}
.showBody{
	width: 800px;
  margin-top: 20px;
  padding-left: 70px;
}
.show{
	margin: 50px auto 0px;
	padding: 15px 48px;
	/*background-image: url("Blank.png");*/
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  font-family: "Arial";
  text-align: justify ;
  text-indent: 15px;
}
.show p {
  margin: 0px;
}
.bold{
  font-weight: bold; 
}
.uppercase {
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}