body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.row, .column{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:15px auto 0px;
	align-items: center;
}
.column{
  flex-direction: column;
  align-items: flex-start;
}
.container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:15px auto 0px;
	align-items: center;
}